body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #dc5c5c;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.jumbotron {
    background-color: #f5f5f5;
    color: #c74747;
}
.col-md-4 {
    background-color: darkgrey;
    color: darkgreen;
}
.navbar-inverse {
    background-color: #961717;
}
.navbar-inverse .navbar-nav > li > a {
    color: #eed3d7;
}
.container body-content {
    background-color: cornflowerblue;
    color: darkmagenta;
}
 
a {
    color: #5694ca;
    text-decoration: solid;
    border: solid;
}
.col-md-4 {
    background-color: #f5f5f5;
    color: #da5c59;
}
